.select {
    min-width: 10ch;
    max-width: 30ch;
    border: 1px solid rgb(31, 31, 85);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 0.8rem;
    cursor: pointer;
    line-height: 1.1;

    background-color: "fff";
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}